<div class="row">
	<div class="col-md-8 col-md-offset-1">
		<% if @products.present?  %>
	 		 <%= render @products.sort_by(&:created_at) %>
		<% elsif @services.present? %>
    		 <%= render @services.sort_by(&:created_at) %>
		<% else %>
			 <h4>По вашему запросу ничего не найдено</h4>	
  		<% end %>
	</div>
</div>

<div class="modal fade" id="showProductModal">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<div class="modal fade" id="showServiceModal">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>