<div class="box">
	<div class="panel panel-white post panel-shadow">
    
    <div class="post-description"> 
                <h2 class="btn-center">Добавьте свой номер телефона</h2>
                <div class="post-description-info" style="text-align:center">
                    <%= link_to "Добавить", new_phone_path, remote: true, data: { toggle: "modal", target: "#newPhoneModal"  }, class:"btn btn-lg btn-primary"  %>
                </div>
    </div>
    </div>
</div>
