<div class="col-md-8" >
    <div class="hovereffect">
        <%= link_to '#' do %>
            <%= image_tag("телефон.jpg", class:"img-responsive" ) %>
            <span class="text-col-md-8" id="one"><%= ProductCategory.find(3).name %></span>
        <% end %>
        <div class="overlay">
            <a class="info" href="#" data-toggle="modal" data-target="#phone">Открыть</a>               
        </div>
        <div class="modal fade" id="phone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Телефоны и телекоммуникации</h4>
                    </div>
                    <div class="modal-body">
                        <ul>
                            <% ProductSubCategory.where(product_category_id:3).each do | cat |%>
                                <li class="modal-window-category btn btn-default"> <%= cat.name %></li> 
                            <% end %>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </div>
         </div>
     </div>
</div>