/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap"; 

.message-block {
    margin: 15px;
    
}


/* General phones */

.row { 
	margin: 0; 
	padding: 0; 
}

/*General phone  styles*/

body {
	background-color: #F5F8FA; 
}

.navbar {
	background-color: #FFFFFF;
  margin-bottom: 0;
}

.form-modal{
	margin: 30px;
}


/* tickers styles */

.panel{
	
}
.box{
	margin-right: 200px;
}

.edit{
  padding: 20px;
}

.box-large{
  margin-right: 300px;
}
.panel-shadow {
   box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;

}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}
.head-right{
  display: block;
  float: right;
}
.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
 
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}

.post .post-description {
  padding: 15px;
  
}
.post .post-description p {
  font-size: 14px;

}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}

.btn-content{
   display:block;
   float: right;
   margin: 10px;
}
.post-description-info{
	margin-top: 20px;
}

/* comments */

.service-form{
    margin: 20px;
}

/* search form */

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
  margin-top: 10px;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

/* buttons */

.comment-button{
   display:block; 
   float: left;
}

.social-button{
   display: block; 
   float: right; 
}

/* buttons */

/* users/show */
.btn-center{
   text-align: center;
}

/* users/show */

/* home page */

.greeting {
  font-size: 56px;
  color: #ffff;
  text-align: center;
  margin-top: 100px;
}



.greeting-title{
   text-align: center;
}

.home{
   background: url(/assets/home.jpg) no-repeat;
   background-position: center;
   height: 600px;
   background-size: 100%;
}



.home-category{
  font-size: 30px;
  text-align: center;
}

.block-indent{
  margin-bottom: 20px;
}

.text-col-md-6{
    display:inline-block;
    position:absolute;
    top: 120px;   
    left: 40px;
    color: #fff;
    font-size: 40px;
} 

.text-col-md-6#clock-Style{
       
    left: 200px;
    
} 

.text-col-md-4{
    display:inline-block;
    position:absolute;
    top: 100px;   
    left: 20;
    color: #fff;
    font-size: 40px;
}

.text-col-md-4#one{
   top:50px;
   left: 35px;
}

.text-col-md-8{
    display:inline-block;
    position:absolute;
    top: 150px;   
    left: 40;
    color: #fff;
    font-size: 50px;
}

.text-col-md-8#one{
    left: 20px;
}

.hovereffect {
width:100%;
height:100%;
float:left;
overflow:hidden;
position:relative;
text-align:center;
cursor:default;
}

.hovereffect .overlay {
width:100%;
height:100%;
position:absolute;
overflow:hidden;
top:0;
left:0;
opacity:0;
background-color:rgba(0,0,0,0.5);
-webkit-transition:all .4s ease-in-out;
transition:all .4s ease-in-out
}

.hovereffect img {
display:block;
position:relative;
-webkit-transition:all .4s linear;
transition:all .4s linear;
}

.hovereffect a.info {
text-decoration:none;
display:inline-block;
text-transform:uppercase;
color:#fff;
border:1px solid #fff;
background-color:transparent;
opacity:0;
filter:alpha(opacity=0);
-webkit-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
margin:150px 0 0;
padding:7px 14px;
}

.hovereffect a.info#md-4{
    margin:100px 0 0;
}

.hovereffect a.info:hover {
box-shadow:0 0 5px #fff;
}

.hovereffect:hover img {
-ms-transform:scale(1.2);
-webkit-transform:scale(1.2);
transform:scale(1.2);
}

.hovereffect:hover .overlay {
opacity:1;
filter:alpha(opacity=100);
}

.hovereffect:hover h2,.hovereffect:hover a.info {
opacity:1;
filter:alpha(opacity=100);
-ms-transform:translatey(0);
-webkit-transform:translatey(0);
transform:translatey(0);
}

.hovereffect:hover a.info {
-webkit-transition-delay:.2s;
transition-delay:.2s;
}

.modal-window-category{
   list-style: none; 
   font-size:20px;
}

/* home page */

/* form button */
  
/* form button */

/* users/show*/

.alert-info{
   height: 50px;
   margin: 0;
}

.alert-info > p {
  font-size: 18px;
}

/**/

/* chat */

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}



.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.modal-body {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

#btn-chat{
  margin-left: 10px;
}

.block{
    display:block; 
    float:right;
    background-color: white;
    padding: 50px;
    
}

.edit-block{
    display:block; 
    background-color: white;
    padding: 30px;
}

.block li{
   list-style: none;
}

.favorite_list{
   padding-bottom: 15px;
}


