<%= form_for([@service, @service.service_comments.build], remote: true) do |f| %>
	<%= render 'layouts/error_messages', object: f.object %>
	<div class="form-group">
		<%= f.text_area :comment, autofocus: true, cols: "40", rows: "5", class:"form-control" %>
	</div>

	<%= f.submit "Добавить", class: "btn btn-success pull-right" %>
	<button class="btn btn-danger pull-right" style="margin-right: 10px" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                            Отмена
                                    </button>
<% end %>